<ion-header>
  <ion-toolbar>
    <ion-title>
       <header>
        <h1 class="titulo-principal">Livraria Virtual</h1>
      </header>
      </ion-title>
    <ion-buttons slot="start">
      <div class="titulo-principal">18:38</div>
      </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-icon name="wifi-outline"></ion-icon>
      <ion-icon name="battery-full"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conteudo">
    <div class="endereco">
      <!-- Conteúdo do endereço aqui -->
      <ion-content>
        <ion-header>
          <ion-toolbar>
            <ion-title class="ion-text-center">
              Rua Xxxx, 000, xxxx-xx
            </ion-title>
          </ion-toolbar>
        </ion-header>
      </ion-content>
    </div>
    </div>
    

    <div class="pesquisa-container">
      <!-- Caixa de pesquisa aqui -->
      <div id="caixa-busca">
        <!-- Seu retângulo de busca aumentado -->
        <input type="text" placeholder="Pesquisar por obra ou autor" class="retangulo-busca">
    
        <!-- Botão de Pesquisar -->
        <button class="botao-pesquisar">Pesquisar</button>
    </div>
    </div>
  
    <div class="ou">
      <p>ou</p>
    </div>

     <!-- Espaçamento vertical -->
     <div class="espacamento-vertical"></div>

     <!-- Texto "Pesquisa por Categoria" centralizado -->
     <div id="pesquisa-categoria" class="pesquisa-categoria">Pesquisa por Categoria</div>
    
    <div class="categorias-container">
      <!-- Caixas circulares aqui -->
        <div class="categoria">Técnico</div>
        <div class="categoria">Biografia</div>
        <div class="categoria">Romance</div>
        <div class="categoria">Suspense</div>
        <div class="categoria">Outras</div>
      </div>
    
    
    <div class="novidades-mais-buscados-container">
      <!-- Caixas retangulares -->
      <div class="novidades">Novidades</div>
      <div class="mais-buscados">Mais Buscados</div>
    </div>

    <!-- Quadrados de Texto -->

    <div class="container">
      <div class="coluna">
        <div class="quadrado-texto">Calculo I</div>
        <div class="quadrado-texto">O Inocente</div>
        <div class="quadrado-texto">PS. Eu te amo</div>
        <!-- Adicione mais quadrados conforme necessário -->
      </div>

      <div class="coluna">
        <div class="retangulo-container">
        <div class="retangulo-texto">
          <p>
            Shwokowski, Earl.
            Vol 1 - Aaaaaaaaaa
            bbbbbbbbbbbbbbb
            bbbbbbbbbbbbbbb
            cccccccccccccccc
            dddddddddddddddd
            eeeeeeeeeeeeeeee
            ffffffffffffffff.
            <br />
            <br />
            <br />

            4/5<br />
        </p>
        </div>
      
      
        <div class="retangulo-texto">
          <p>
            Coben, Harlan. - Aaaaaaaaaa
            bbbbbbbbbbbbbbb
            bbbbbbbbbbbbbbb
            cccccccccccccccc
            dddddddddddddddd
            eeeeeeeeeeeeeeee
            ffffffffffffffff.
            <br />
            <br />
            <br />

            5/5<br />
          </p>
        </div>

        <div class="retangulo-texto">
          <p>
            Ahern, Cecilia - Aa
            aaaaaaaaaaaaa
          bbbbbbbbbbbbbbb
          bbbbbbbbbbbbbbb
          cccccccccccccccc
          dddddddddddddddd
           <br />
            <br />
            <br />
            <br />

            4.7/5<br />
          </p>
        </div>
        </div>
      </div>
      

        <!-- Adicione mais retângulos conforme necessário -->
      
      <div class="coluna">
        <div class="quadrado-pequeno">$</div>
        <div class="quadrado-pequeno">$</div>
        <div class="quadrado-pequeno">$</div>
        <!-- Adicione mais quadrados pequenos conforme necessário -->
      </div>
    </div>

    <div class="rodape">
      <div class="rodape-item">Home /</div>
      <div class="rodape-item">Carrinho /</div>
      <div class="rodape-item">Contato /</div>
      <div class="rodape-item">Configurações</div>
    </div>
    
    
 </ion-content>

   
  
  

